.test{
    text-align: center;
}

.button1{
    padding-right: 25px;
    padding-left: 35px;
}

.button2{
    padding:0px;
}

.button3{
    margin-right: 0px;
    padding-left: 25px;
}

.card {
    background-color: #000; // black
  }